body {
    background: tomato;
}

header {
    text-align: center;
    color: white;
    font-family: "Helvetica Neue", sans-serif;
    letter-spacing: 2px;
    line-height: 1.5;
    margin: 20px 0;
}

header p {
    font-size: 1.5em;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: #f5c4bb;
    color: tomato;
    text-align: center;
}

footer p {
    margin: 10px 0;
}

.fa-heart {
    color: #e25555;
}
main {
    background-color: white;
    width: 40%;
    height: 550px;
    border-radius: 20px;
    margin: 10px auto;
    display: grid;
    grid-template-rows: 1fr 1fr 6fr;
    grid-template-areas: "custom"
                         "bar"
                         "timer-container";
}

#custom {
    grid-area: custom;
    margin: 0 auto;
    display: flex;
    align-items: center;
}

#custom button {
    margin: 0 10px;
}

#bar {
    grid-area: bar;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#logo {
    height: 150px;
    width: 200px;
}

#logo img {
    max-width: 100%;
    height: auto;
}

/* style the timer */
#timer-container {
    grid-area: timer-container;
    display: flex;
    justify-content: center;
    align-items: center;
}

#timer {
    border: 5px solid #ffae80;
    display: flex;
    padding: 10px;
    flex-direction: column;
    align-items: stretch;
    font-family: "Helvetica Neue", sans-serif;
}

#timer div {
    margin: 10px;
}

#clock {
    font-size: 50px;
    text-align: center;
}

#options {
    text-align: center;
}

/* style the various buttons */
button {
    cursor: pointer;
    outline: none;
    font-size: 1em;
    color: tomato;
    font-weight: bold;
    background-color: #ffece4;
    border: none;
    border-radius: 20px;
    padding: 10px;
    box-shadow: 0 0 2px 2px tomato;
}

#options .fas {
    cursor: pointer;
    font-size: 2.5em;
    color: tomato;
    margin: 0 10px;
}

button:active {
    transform: scale(0.9);
}

.fas:active {
    transform: scale(0.9);
}

.selected {
    background-color: tomato;
    color: white;
}

.looping {
    transform: scale(1.2);
    background-color: #18a518;
    color: white;
    box-shadow: none;
}

img {
    display: none;
}

.active {
    display: block;
}

.fas.hidden {
    display: none;
}

/* style the popup window */
#popup-container {
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0,0.7);
    position: absolute;
    display: none;
}

#popup {
    height: 300px;
    width: 500px;
    background-color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#close {
    position: absolute;
    top:0;
    right: 10px;
    font-size: 40px;
    transform: rotate(45deg);
    cursor: pointer;
}

/* media query for screen size less than 600px */
@media (min-width: 1100px) {
    main {
        width: 35%;
    }
}

@media (max-width: 850px) {
    body {
        min-width: 550px;
    }
    main {
        min-width: 350px;
    }

    button {
        font-size: 1em;
        font-weight: normal;
    }
}

@media (max-height: 650px) {
    body {
        min-height: 600px;
    }

    main {
        min-height: 450px;
    }

    button {
        font-size: 1em;
        font-weight: normal;
    }
}
