html{
    height: 100vh;
    width: 100vw;
}

body {
    height: 100%;
    width: 100%;
}

main {
    background-color: aqua;
    width: 80%;
    height: 80%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    display: grid;
    grid-template-rows: 1fr 1fr 6fr;
    grid-template-areas: "custom"
                         "bar"
                         "timer-container";
}

button {
    cursor: pointer;
}

#custom {
    text-align: center;
    margin: 10px;
    grid-area: custom;
}

#timer-container {
    grid-area: timer-container;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    align-items: center;
}

#bar {
    grid-area: bar;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

#timer {
    grid-column: 2/3;
    display: grid;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#clock {
    width: 100px;
    height: 50px;
    font-size: xx-large;
    justify-self: center;
}

#popup-container {
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0,0.7);
    position: absolute;
    display: none;
}

#popup {
    height: 300px;
    width: 500px;
    background-color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#close {
    position: absolute;
    top:0;
    right: 10px;
    font-size: 40px;
    transform: rotate(45deg);
    cursor: pointer;
}